# Explicit GitHub Linguist Configuration
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=CSS
*.json linguist-language=JSON
*.sql linguist-language=SQL
*.md linguist-documentation
